@import '../../variables';

.root {
  min-height: calc(100vh - 93px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-grow: 1;
  margin: 33px 0;

  h2 {
    width: 515px;
    margin: 64px 0;
  }
}

.contentParallax {
  margin-top: 60px;
}
