@import '../../variables';

.root {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto 33px;
  display: flex;
  justify-content: space-between;
  color: $dark;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.label {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: $dark;
}

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: $dark;
}
